body {
	font-family: 'Montserrat', sans-serif;
	background-color: #131313;
	color: #FFFFFF;
}
header {
	border-bottom: 1px solid #272727;
}
.logo {
	color: #1ACD4C;
	font-family: 'Caveat', cursive;
	font-size: 48px;
	text-decoration: none;
	text-align: center;
}
.header-container {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
.header-container p {
	margin-left: 14px;
	padding-left: 14px;
	border-left: 1px solid #272727;
}
.top-menu {
	display: inline;
}
.top-menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 13px;
	padding: 0 10px;
}
.account-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 60%;
	margin: 0 auto;
	background-image: url(../img/Wall.png);
	background-size: 100% 100%;
	padding-top: 106px;
	padding-bottom: 150px;
}
.account-title {
	font-weight: 900;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 10px;
}
.bonuses {
	color: #1ACD4C;
	font-weight: 900;
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
}
.btn {
	margin: 0 auto;
	width: 285px;
	color: #1ACD4C;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	border: 1px solid #1ACD4C;
	border-radius: 10em;
	padding: 1em 1em;
	transition: all .4s linear;
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	box-sizing: border-box;
}
.btn:hover {
	color: #131313;
	background-color: #1ACD4C;
}
.statistic {
	text-align: center;
	padding-top: 105px;
	padding-bottom: 30px;
	font-weight: 900;
}
.statistic_information {
	display: flex;
	justify-content: space-between;
}
.statistic_information_item {
	font-size: 18px;
	padding-left: 55px;
}
.hookah {
	background-image: url("../img/hookah-icon.png");
}
.came {
	background-image: url("../img/stairs-with-handle.png");
}
.hours {
	background-image: url("../img/waiting-room-sign.png");
}
.hookah, .came, .hours {
	background-repeat: no-repeat;
	background-position: left;
}
.statistic_information_item span {
	font-weight: 900;
}
footer {
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	position: absolute;
	width: 99%;
	bottom: 20px;
}
.history-title {
	margin-top: 90px;
	font-size: 30px;
	font-weight: 900;
}
.thispage a{
	color: #4F4F4F;
	text-decoration: line-through;
}
section {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-image: url("../img/Wall.png");
	background-repeat: no-repeat;
}
form {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 0 auto;
}
input {
	margin: 0 auto;
	background-color: black;
	border: 1px solid #4F4F4F;
	border-radius: 150px;
	padding-left: 15px;
	height: 46px;
	margin-top: 15px;
	width: 270px;
	color: #FFFFFF;
}
input::placeholder {
	color: #4F4F4F;
}
input:hover {
	border: 1px solid white;
	cursor: pointer;
}
input:hover::placeholder, input:focus::placeholder {
	color: #FFFFFF;
}
.registration-title {
	font-weight: 900;
	font-size: 30px;
	color: #FFFFFF;
	text-align: left;
	margin-top: 60px;
}
img {
	margin-top: 60px;
	margin-right: 150px;
	padding-bottom: 150px;
}
.visites-table {
width: 80%;
margin: 0 auto;
}
.table-titles {
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #727272;
}
table {
	width: 100%;
	border: 1px solid #272727;
	border-bottom: none;
	border-top: none;
}
td {
	width: 24%;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #272727;
}
.navigation-items {
	padding-top: 30px;
	width: 30%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	list-style-type:none
}
.navigation-items a {
	text-decoration: none;
	color: #FFFFFF;
}
.this-nav-item {
	color: #4F4F4F;
}
.refill {
	color: #31AD54;
}
.withdraw {
	color: #B64343;
}
.no-visits {
	height:65vh;
	display: block;
	background-image: url("../img/Wall.png");
	background-repeat: no-repeat;
}
