body {
	font-family: 'Montserrat', sans-serif;
	background-color: #131313;
	color: #fff;
	margin: 0 auto;
}
.backgrounds {
	background-image: url('../img/smoke_PNG55243\ .png'), url('../img/smoke_PNG55243\ \ –\ rotate.png'), url('../img/smoke_PNG55243-2.png');
	background-repeat: no-repeat;
	background-position-y: 600px, 1000px, 1500px;
	background-position-x: 0, right, 30%;
}
.container {
	width: 70vw;
	margin: 0 auto;
}

/* HEADER */

header {
	display: flex;
	padding-top: 14px;
}
.logo {
	color: #1ACD4C;
	font-family: 'Caveat', cursive;
	font-size: 48px;
	text-decoration: none;
}
address {
font-style: normal;
}
.header__contacts {
	padding-left: 24px;
	padding-top: 10px;
}
.header__contacts a {
	color:#fff;
	text-decoration: none;
	font-weight: 800;
}
.header__btns {
margin-left: auto;
margin-top: 20px;
}
.btn {
	width: 264px;
	color: #1ACD4C;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	border: 1px solid #1ACD4C;
	border-radius: 10em;
	padding: 1em 1em;
	transition: all .4s linear;
	display: inline-block;
	text-align: center;
}
.btn:hover {
	color: #131313;
	background-color: #1ACD4C;
}

/* SECTION - PROMO */

 .promo {
	width: 120%;
	background-image: url('../img/bg-hookah.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
 }
.promo_content {
	width: 55%;
	padding-bottom: 6em;
	}
.promo h1 {
	padding-top: 6rem;
	font-size: 4em;
	margin: 0;
	font-weight: 900;
}
.promo_content_text {
	margin-top: 0;
	padding-top: 30px;
	font-size: 24px;
}
.promo_content_text_offer {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 60px;
} 

/* SECTION - INTERIOR */

.interior {
	padding-top: 30px; 
	width: 120%;
}
.interior h2, .menu h2, .bonuses h2, .contacts h2{
	font-size: 2.6rem;
	font-weight: 900;
	margin-bottom: 20px;
}
.interior_image {
	padding: 10px;
}
.interior_image:hover {
	transform: scale(1.3);
	transition: all .5s linear;
}

/* SECTION - MENU */

.menu {
	background-image: url('../img/Wall.png');
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: -150px;
}
.menu_title {
	padding-top: 70px;
}
.menu_images {
	display: flex;
}
.menu_img {
	padding: 20px;
	opacity: .5;
	transition: all .5 linear;
}
.menu_img:hover {
	opacity: 1;
	cursor: pointer;
}
.menu_img:active {
	opacity: 1;
	transform: scale(1.3);
}

/* SECTION - BONUSES */

.bonuses {
	margin-top: 92px;
}
.bonuses_wrapper {
	display: flex;
	justify-content: space-between;
}
.sale {
	width: 48%;
	background-color: rgba(0, 0, 0, .5);
	background-image: url(../img/sale50.png);
	background-repeat: no-repeat;
}
.gift {
	width: 48%;
	background-color: rgba(0, 0, 0, .5);
	background-image: url(../img/rubles50.png);
	background-repeat: no-repeat;
}
.bonuses_text {
	padding-top: 130px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 30px;
}
.bonuses_text h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

/* SECTION - CONTACTS */

.contacts {
	margin-top: 100px;
	margin-bottom: 30px;
}
.contacts_wrapper {
	display: flex;
}
.map {
	margin-right: 50px;
}
.bottom_contacts {
	font-size: 18px;
	font-weight: 700;
}
.bottom_contacts .btm-phone, .bottom_contacts address {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}
.bottom-phone {
	background-image: url('../img/phone-icon.png');
	background-repeat: no-repeat;
	padding-left: 55px;
	padding-bottom: 25px;
}
.bottom-address {
	background-image: url('../img/map-mark\ icon.png');
	background-repeat: no-repeat;
	padding-left: 55px;
	padding-bottom: 25px;
}
footer {
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	width: 99%;
	bottom: 50px;
	padding-bottom: 15px;
}
