body {
	font-family: 'Montserrat', sans-serif;
	background-color: #131313;
}
.registration-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 60%;
	margin: 0 auto;
	background-image: url(../img/Wall.png);
	background-size: 100% 100%;
	padding-top: 106px;
}
.logo {
	color: #1ACD4C;
	font-family: 'Caveat', cursive;
	font-size: 48px;
	text-decoration: none;
	text-align: center;
}
.registration-title {
	font-weight: 900;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 60px;
}
form {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 0 auto;
}
input {
	margin: 0 auto;
	background-color: black;
	border: 1px solid #4F4F4F;
	border-radius: 150px;
	padding-left: 15px;
	height: 46px;
	margin-top: 15px;
	width: 270px;
	color: #FFFFFF;
}
input::placeholder {
	color: #4F4F4F;
}
input:hover {
	border: 1px solid white;
	cursor: pointer;
}
input:hover::placeholder, input:focus::placeholder {
	color: #FFFFFF;
}
.btn {
	margin: 0 auto;
	width: 285px;
	color: #1ACD4C;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	border: 1px solid #1ACD4C;
	border-radius: 10em;
	padding: 1em 1em;
	/* margin-bottom: 100px; */
	transition: all .4s linear;
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	box-sizing: border-box;
}
.btn:hover {
	color: #131313;
	background-color: #1ACD4C;
}
.no-enter {
	color: #1ACD4C;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	margin-top: 15px;
	text-decoration: none;
}
footer {
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	position: absolute;
	width: 99%;
	bottom: 20px;
}
.enter-problem {
	width: 30vw;
	color: #FFFFFF;
	text-align: center;
	padding-left: 15vw;
}